.navbar {
  height: 15%;
  margin: 0;
  padding: 0;
  justify-content: space-between;
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  gap: 30rem;
  padding: 0 10px 0 10px;
  border: solid 1px #000;
}

.side-menu {
  display: flex;
  justify-content: right;
  align-items: center;
  gap: .6rem;
}

.side-menu svg {
  width: 1.3em;
}
