.navbar {
  height: 15%;
  margin: 0;
  justify-content: space-between;
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  gap: 12rem;
}

#center {
  margin-left: 7em;
}

.side-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.6rem
}

.side-menu button svg {
  width: 1.3em;
}

.smaller-button {
  padding: .4em .8em;
}
